<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Bright hearts</title>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <div class="navbar">
            <div class="logo"><a href="#">Bright hearts</a></div>
        </div>
        <div class="main">
            <div class="heading">A platform for students and volunteers to share knowledge and skills.</div>
            <div class="paragraph">Do you need help with your homework, assignments, or exams? Do you want to learn from volunteers who are experts in their fields? Join our website and find your ideal volunteer tutor today!</div>
            <div class="signup-button"><button>Sign Up</button></div>
            <div class="paragraph">Already have an account?&emsp;<a href="#">Log In</a></div>
        </div>
    </body>
</html>