@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body, html {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.step2{
    width: 96vw;
    margin: auto;
    margin-top: 2vw;
    border-radius: 1vw;
    display: grid;
    height: 10vw;
    background: linear-gradient(162deg, rgba(239,50,217,1) 0%, rgba(137,255,253,1) 100%);
    font-size: 6vw;
    color: #fff;
    text-align: center;
}

.main {
    width: 96vw;
    margin: auto;
    text-align: center;
    margin-top: 25vw;
}
.main2 {
    width: 96vw;
    margin: auto;
    text-align: center;
    margin-top: 30pw;
}
.heading {
    font-size: 8vw;
    font-weight: 1000;
    padding: 2vw;
}
.paragraph {
    color: #000;
    font-size: 4vw;
    padding: 2vw;
    text-align: center;
}
.signup-button button {
    width: 90vw;
    margin: auto;
    margin-top: 2vw;
    border: none;
    border-radius: 2vw;
    color: #fff;
    background-color: #000;
    font-family: 'Roboto', sans-serif;
    height: 10vw;
    font-size: 4vw;
}
.selectOption{
    align-content: center;
}

#title{
    background-color:#ef8172;
    color: #fff;
}
h1{
    font-family: "Montserrat";
    font-size: 3.5rem;
    line-height: 1.5;
 
}
.row{
    text-align: center;
    
    
}


h2 {
    font-family: "Montserrat";
    font-size: 3rem;
    line-height: 1.5;
}
.container-fluid{
    padding: 3% 15%;
}
body{
    font-family: "Montserrat";
}

/* Navigation Bar */

.navbar{
    padding-bottom: 4.5rem;
}

.navbar-brand{
    font-family: Limelight;
    padding-left: 1rem;
    font-size: 10rem;
    
    
    
}

.nav-item{
  padding-left: 1rem;
}

.nav-link{
    font-size: 1.2rem;
    font-family: "Montserrat-Light";
}

/*  Download Buttons */

.continue-button{
    margin: 5% 3% 5% 0;
}





.feature-box{
    text-align: center;
    padding: 5%;
}

h3{
    font-family: "Montserrat";
    font-size: 1.3rem;
    
}

p{
    color: #8f8f8f;
}



#feature{
    padding: 7% 15%;
}

.icon{
    color: #ef8172;
    margin-bottom: 1rem;
}

.icon:hover{
    color: #ff4c68;
}

/* Testimonial section */

#testimonials {
    
    text-align: center;
    background-color:#ef8172;
    color:#fff;

}

.carousel-item{
    padding: 7% 15%;
}

.testimonial-image{
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}


/* Press Section */

#press {
    padding-bottom: 3%;
    background-color: #ef8172;
    text-align: center;
}

.press-image {
    width: 15%;
    margin: 20px 20px 50px;
}